## How to create initial admin user
Wait 7-8 minutes after the terraform apply.
Then run the commands bellow and visit the URL to setup the admin user.

export TFE_ADMIN_URL=$(ssh ubuntu@${tfe_hostname} -t "sudo docker exec -it terraform-enterprise-tfe-1 tfectl admin token --url")
echo $TFE_ADMIN_URL

Copy the echo command output and paste it on your browser.

